html{
  scroll-behavior: smooth;
}
#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#button:hover {
  cursor: pointer;
  background-color: #333;
}
@media (hover: none) {
  #button:hover {
    cursor: pointer;
    background-color: #FF9800;
  }
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
#logo{
  
  flex-wrap: wrap;
  width: 80%; 
  max-width: 200px;
  min-width: 100px;
  text-align: center;
  border-radius: 4px;
}

#header {
   
    padding: 0px;
    width: 100%;
    transition: 0.4s;
  }
  
  #meni{
      position: fixed !important;
      font-size: 35px;
      width: 70px;
      height: 70px;;
      text-align: center;
     text-align-last: center;
     padding: 10px;
     
      border-radius: 50%;
      background-color: #555;
     
  }
  #meni:hover {
    cursor: pointer;
    background-color: #333;
  }



    #telefon{
      font-size: 20px !important; 
      min-width: 150px;
      
    }
    #navigacija{
      max-width: 200px;
    }
    #tele::after{
      content: "\f879";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
    }
    #centar{
     
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    #ikonice{
      width: 70px;
      height: 70px;
    }
    @media screen and (max-width:360px){
      #slova{
          font-size:15px;
      }  
  }
  #mapa{
    width: 80%;
    min-width: 200px;
    max-width: 500px;
    
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #centar2{
     

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 
  #boja{
    width: 50px;

  }
  #boja:hover{
    filter: brightness(0%) ;
    transition-duration: 0.3s;
  }
  #mapaikonica::after{
    font-family: FontAwesome;
    
    content:"\f279";
    
  }
  #mapaikonica2::after{
    font-family: FontAwesome;
    
    content:"\f041";
  
    color: rgb(213, 70, 58);
    
  }

  #mapaikonica2:hover{
    font-family: FontAwesome;
    content:"\f041";
     color: black!important;
     
     transition-duration: 0.3s;
    
  }
  #mapaikonica:hover{
    font-family: FontAwesome;
    
    content:"\f279";
    color: black;
    padding-top: 2px;
    transition-duration: 0.3s;
    
  }
  #promjena:hover{
    color: black;
    transition-duration: 0.3s;
    
  }
  
  #pik{
    width: 90px;
  }
  #pik:hover{
    width: 100px;
    transition-duration: 0.3s;
  }
  #promjena2{
    font-size: 22px; 
    margin-bottom: 10px!important;
    border: 1px solid rgba(0,0,0, 0.1); 
    padding: 2px 7px;
    width: 260px;
  }

  #promjena2:hover{
    color: black;
    transition-duration: 0.3s;
    
  }
  #visina{
    height: 265px;
  }
  img#galeri{
    
    height: 300px!important;
  }